.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: white;
}

.shop {
  display: flex;
  width: 100vw;
  max-width: 80%;
  margin-bottom: 5rem;
}

.products {
  width: 100%;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0;

  flex-basis: 60%;
}

.product-list-item {
  display: flex;
  flex-direction: column;
  width: 100px;
  background-color: #f8f8f8;
  color: #090909;
  text-align: center;
}

.product-list-item button {
  padding: .5rem 1rem;
}

.product-details {
  height: 100px;
}

.shopping-list {
  flex-basis: 40%;
}

.shopping-list-item {
  cursor: pointer;
}